{% extends 'AdminPanel/base.html' %}
{% load static %}
<!--**********************************
        Main wrapper start
***********************************-->

{% block body %}
<div id="main-wrapper">

	<!--**********************************
            Content body start
        ***********************************-->
	<div class="content-body">
		<div class="container-fluid">
			<div class="row page-titles">
				<ol class="breadcrumb">
					<li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
					<li class="breadcrumb-item"><a href="javascript:void(0)">Components</a></li>
				</ol>
			</div>
			<!-- row -->
			
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Add Room</h4>
						</div>
						<div class="card-body">
							<div class="form-validation">
								<form class="needs-validation" action="" method="POST" enctype="multipart/form-data" novalidate >
									{% csrf_token %}
									<div class="row">
										<div class="col-xl-6">
										
											<div class="mb-3 row">
												
												<div class="col-lg-6">
													{% for i in categ %}
													<input value="{{ i.id }}" type="hidden" name="categ">
													
													{% endfor %}
												
											</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 form-label">Choose Location</label>
												<div class="col-lg-6">
												<select name="scateg" class="default-select  form-control wide">
													{% for i in scateg %}
													<option value="{{ i.id }}">{{ i.title }}</option>
													{% endfor %}
												</select>
											</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 text-label form-label">Room Name</label>
												<div class="col-lg-6">
												<input type="text" name="hotel_name" class="form-control"
													placeholder="Name of the Room" required>
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label">Description <span
														class="text-danger">*</span>
												</label>
												<div class="col-lg-6">
													<textarea class="form-control" name="description" id="validationCustom04"  rows="5" placeholder="Enter Your Room details.." required></textarea>
													<div class="invalid-feedback">
														Please enter a Suggestions.
													</div>
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" for="validationCustom04">Room count <span
														class="text-danger">*</span>
												</label>
												<div class="col-lg-6">
													<input type="number" name="count" class="form-control"
														placeholder="Available Room" required>
													</div>
											</div>
										</div>
										<div class="col-xl-6">
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" for="validationCustom05">Price
													<span class="text-danger">*</span>
												</label>
												<div class="col-lg-6">
													<input type="number" name="price" class="form-control"  placeholder="Price" required>
													<div class="invalid-feedback">
														Please enter a Currency.
													</div>
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" for="validationCustom05">Add Main Image
													<span class="text-danger">*</span>
												</label>
												<div class="col-lg-6">
													<input id="ImageMediass" name="photoo" accept=".jfif,.jpg,.jpeg,.png,.gif" type="file" class="form-control"   required>
													
												</div>
												<div id="divImageMediaPrevieww"></div>	
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" for="validationCustom05">Add Multiple Images
													<span class="text-danger">*</span>
												</label>
												<div class="col-lg-6">
													<input id="ImageMedias" multiple="multiple" name="images" type="file" accept=".jfif,.jpg,.jpeg,.png,.gif" class="form-control" value="">
													
												</div>
												<div id="divImageMediaPreview"></div>
											</div>
											
											<div class="mb-3 row">
												<div class="col-lg-8 ms-auto">
													<button type="submit" class="btn btn-primary">Submit</button>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>

</div>



{% endblock %}
