{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	

    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Innap : Hotel Admin Template" />
	<meta property="og:title" content="Innap : Hotel Admin Template" />
	<meta property="og:description" content="Innap : Hotel Admin Template" />
	<meta property="og:image" content="https://innap.dexignzone.com/xhtml/social-image.png" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- PAGE TITLE HERE -->
	<title>{% block title %}
		
		{% endblock %}</title>
	
	<!-- FAVICONS ICON -->
	<link rel="shortcut icon" type="image/png" href="images/favicon.png" />
	<link rel="stylesheet" href="{% static 'admin/vendor/chartist/css/chartist.min.css' %}">

	<link href="{% static 'admin/vendor/jquery-nice-select/css/nice-select.css' %}" rel="stylesheet">
	<link href="{% static 'admin/vendor/jquery-smartwizard/dist/css/smart_wizard.min.css' %}" rel="stylesheet">

	<link href="{% static 'admin/vendor/datatables/css/jquery.dataTables.min.css' %}" rel="stylesheet">


	<link href="{% static 'admin/vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
	<!-- Style css -->
    <link href="{% static 'admin/css/style.css' %}" rel="stylesheet">

	<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

	<!-- CSS -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
	<!-- Default theme -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
	{% block custom %}
	{% endblock %}

	<style>
		.borderforgraph{
      border: 2px solid #dddddd;
      
 
    }
		.image_container {
	height: 120px;
	width: 200px;
	border-radius: 6px;
	overflow: hidden;
 	margin: 10px;
}
.image_container img {
	height: 100%;
	width: auto;
	object-fit: cover;
}
.image_container span {
	top: -6px;
	right: 8px;
	color: red;
	font-size: 28px;
	font-weight: normal;
	cursor: pointer;
}

</style>
{% block styles %}
{% endblock %}
	
	
</head>
<body>
	
    <!--*******************
        Preloader start
    ********************-->
    <!-- <div id="preloader">
        <div class="waviy">
		   <span style="--i:1">L</span>
		   <span style="--i:2">o</span>
		   <span style="--i:3">a</span>
		   <span style="--i:4">d</span>
		   <span style="--i:5">i</span>
		   <span style="--i:6">n</span>
		   <span style="--i:7">g</span>
		   <span style="--i:8">.</span>
		   <span style="--i:9">.</span>
		   <span style="--i:10">.</span>
		</div>
    </div> -->
    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            
			<div class="nav-control">
				<div class="logo">
					<a href="{% url 'home' %}">
					  <!-- <h3>HOME 2 HOME</h3> -->
					  <img src="{% static 'home/images/logo.png' %}" style=" width: 32vh;" alt="Hotel Himara">
					</a>
				  </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
							<div class="dashboard_bar">
                                {% block pagetitle %}
													
								{% endblock  %}
                            </div>
                        </div>
                        <ul class="navbar-nav header-right">
							
						
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="javascript:void(0);" role="button" data-bs-toggle="dropdown">
                                    <img src="{% static 'admin/images/profile/pic1.jpg' %}" alt="">
									<div class="header-info ms-3">
										{% if user.is_authenticated %}
										<span>{{user.username}}</span>
										<small>Superadmin</small>
										{% else %}
										<span>login</span>
										<small>Superadmin</small>
										{% endif %}
									</div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a href="./app-profile.html" class="dropdown-item ai-icon">
                                        <svg id="icon-user1" xmlns="http://www.w3.org/2000/svg" class="text-primary" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                        <span class="ms-2">Profile </span>
                                    </a>
                                    <a href="./email-inbox.html" class="dropdown-item ai-icon">
                                        <svg id="icon-inbox" xmlns="http://www.w3.org/2000/svg" class="text-success" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                                        <span class="ms-2">Inbox </span>
                                    </a>
                                    <a href="{% url 'logout' %}" class="dropdown-item ai-icon">
                                        <svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" class="text-danger" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
                                        <span class="ms-2">Logout </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
				</nav>
			</div>
		</div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="deznav">
            <div class="deznav-scroll">
				<ul class="metismenu" id="menu">
                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-025-dashboard"></i>
							<span class="nav-text">Dashboard</span>
						</a>
                        <ul aria-expanded="false">
		
							
							
							
							<li><a href="{% url 'index' %}">Dashboard</a></li>	
						</ul>

                    </li>
                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
						<i class="flaticon-050-info"></i>
							<span class="nav-text">Rooms</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'viewroom' %}">Room</a></li>
							<li><a href="{% url 'addroom' %}">Add Room</a></li>
                            
                        </ul>
                    </li>
                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-041-graph"></i>
							<span class="nav-text">Users</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'guest' %}">View User</a></li>
                        </ul>
                     </li>
                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-086-star"></i>
							<span class="nav-text">Category</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'subcategory' %}">Location</a></li>
                            

                        </ul>
                    </li>
                    
                     <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-045-heart"></i>
							<span class="nav-text">Bookings</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'bookings' %}">View All Bookings</a></li>
                            
                        </ul>
                    </li> 
                    <li>
						<a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-013-checkmark"></i>
							<span class="nav-text">Coupons</span>
						</a>
						<ul aria-expanded="false">
                            <li><a href="{% url 'coupons' %}">Coupons</a></li>
						</ul>
							
					</li>
                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-013-checkmark"></i>
							<span class="nav-text">Offers</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'roomoffer' %}">Room Offer</a></li>
                            <li><a href="{% url 'subcategoryoffers' %}">Location Offer</a></li>
                           
                        </ul>
                    </li>
                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-072-printer"></i>
							<span class="nav-text">Report</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'SalesReport' %}">Booking Report</a></li>
                            
                        </ul>
                    </li>
                    <!--<li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-043-menu"></i>
							<span class="nav-text">Table</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="table-bootstrap-basic.html">Bootstrap</a></li>
                            <li><a href="table-datatable-basic.html">Datatable</a></li>
                        </ul>
                    </li>
                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-022-copy"></i>
							<span class="nav-text">Pages</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="./page-login.html">Login</a></li>
                            <li><a href="./page-register.html">Register</a></li>
                            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Error</a>
                                <ul aria-expanded="false">
                                    <li><a href="./page-error-400.html">Error 400</a></li>
                                    <li><a href="./page-error-403.html">Error 403</a></li>
                                    <li><a href="./page-error-404.html">Error 404</a></li>
                                    <li><a href="./page-error-500.html">Error 500</a></li>
                                    <li><a href="./page-error-503.html">Error 503</a></li>
                                </ul>
                            </li>
                            <li><a href="./page-lock-screen.html">Lock Screen</a></li>
                            <li><a href="./empty-page.html">Empty Page</a></li>
                        </ul>
                    </li> -->
                </ul>
				<div class="copyright">
					<p><strong>Innap Hotel Admin</strong> © 2021 All Rights Reserved</p>
					<p class="fs-12">Made with <span class="heart"></span> by DexignZone</p>
				</div>
			</div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->
    

{% block body %} 
{% endblock %}
<!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
		
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="https://dexignzone.com/" target="_blank">Amaljith</a> 2022</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

<!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->


	<script src="https://unpkg.com/htmx.org@1.1.0"></script>
    <script>
      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      })
    </script>




    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->
	
    <script src="{% static 'admin/vendor/global/global.min.js' %}"></script>
	<script src="{% static 'admin/vendor/sweetalert2/dist/sweetalert2.min.js' %}"></script>
	<script src="{% static 'admin/js/plugins-init/sweetalert.init.js' %}"></script>
	<script src="{% static 'admin/vendor/chart.js/Chart.bundle.min.js' %}"></script>
	<script src="{% static 'admin/vendor/jquery-nice-select/js/jquery.nice-select.min.js' %}"></script>
	
	<!-- Chart piety plugin files -->
    <script src="{% static 'admin/vendor/peity/jquery.peity.min.js' %}"></script>
	<!-- Apex Chart -->
	<script src="{% static 'admin/vendor/apexchart/apexchart.js' %}"></script>
	
	<script src="{% static 'admin/vendor/bootstrap-datetimepicker/js/moment.js' %}"></script>
	<script src="{% static 'admin/vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
	<script src="{% static 'admin/vendor/jquery-smartwizard/dist/js/jquery.smartWizard.js' %}"></script>
	
	<!-- Dashboard 1 -->
	<script src="{% static 'admin/js/dashboard/dashboard-1.js' %}"></script>
    <script src="{% static 'admin/js/custom.min.js' %}"></script>
	<script src="{% static 'admin/js/deznav-init.js' %}"></script>
	
	<!-- Datatable -->
	<script src="{% static 'admin/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'admin/js/plugins-init/datatables.init.js' %}"></script>
	<script defer src="https://cdn.crop.guide/loader/l.js?c=SJLVKJ"></script>
		
    
	<script>
		$(function () {
			$('#datetimepicker').datetimepicker({
				inline: true,
			});
		});
		
		$(document).ready(function(){
			$(".booking-calender .fa.fa-clock-o").removeClass(this);
			$(".booking-calender .fa.fa-clock-o").addClass('fa-clock');
		});
		$(document).ready(function(){
			// SmartWizard initialize
			$('#smartwizard').smartWizard(); 
		});
	</script>
	<script>
		$("#ImageMedias").change(function () {
		if (typeof (FileReader) != "undefined") {
			var dvPreview = $("#divImageMediaPreview");
			dvPreview.html("");            
			$($(this)[0].files).each(function () {
				var file = $(this);                
					var reader = new FileReader();
					reader.onload = function (e) {
						var img = $("<img />");
						img.attr("style", "width: 150px; height:100px; padding: 10px");
						img.attr("src", e.target.result);
						dvPreview.append(img);
					}
					reader.readAsDataURL(file[0]);                
			});
		} else {
			alert("This browser does not support HTML5 FileReader.");
		}
	});
		$("#ImageMediass").change(function () {
		if (typeof (FileReader) != "undefined") {
			var dvPreview = $("#divImageMediaPrevieww");
			dvPreview.html("");            
			$($(this)[0].files).each(function () {
				var file = $(this);                
					var reader = new FileReader();
					reader.onload = function (e) {
						var img = $("<img />");
						img.attr("style", "width: 150px; height:100px; padding: 10px");
						img.attr("src", e.target.result);
						dvPreview.append(img);
					}
					reader.readAsDataURL(file[0]);                
			});
		} else {
			alert("This browser does not support HTML5 FileReader.");
		}
	});
	</script>
	  <script>
		{% for flash in messages %}
		{% if flash.tags == 'error' %}
		alertify.set('notifier', 'position', 'top-right');
		alertify.error('{{flash}}');
		{% elif flash.tags == 'success' %}
		alertify.set('notifier', 'position', 'top-right');
		alertify.success('{{flash}}');
		{% elif flash.tags == 'warning' %}
		alertify.set('notifier', 'position', 'top-right');
		alertify.warning('{{flash}}');
		{% endif %}
		{% endfor %}
	  </script>
	
	
	{% block CustomScripts %}
	{% endblock %}	

</body>

</html>