{% extends 'AdminPanel/base.html' %}
{% load static %}
<!--**********************************
        Main wrapper start
    ***********************************-->

{% block body %}
<div class="content-body" x-data="{showEditForm: false}" >
    <div class="container-fluid">
        <div class="row page-titles">
            <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal"
                data-bs-target="#exampleModalCenter">Add Category</button>
        </div>
        

            {% include "AdminPanel/xml-cat-view.html" %}

        
    </div>
</div>


<div class="modal fade" id="exampleModalCenter1" x-show="showEditForm">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>
            {% include "AdminPanel/xml-category.html" %}
            
        </div>
    </div>
</div>

{% endblock %}