{% extends 'AdminPanel/base.html' %}
{% load static %}

{% block styles %}
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-4"></div>
    <div class="col-6 " style="margin-top: 100px;">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Edit Coupon</h4>
            </div>
            <div class="card-body">
                <div class="basic-form">
                    <form method="POST" autocomplete="off">
                        {% csrf_token %}
                        <div class="mb-3 row">
                            <label class="col-sm-3 col-form-label">Coupon code</label>
                            <div class="col-sm-9">
                                <input type="text" name="code" class="form-control" placeholder="Enter Discount "
                                    value="{{toedit.coupon_code}}">

                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label class="form-label">Discount Percentage</label>
                            <div class="mb-3">
                                <input type="text" name="discount" class="form-control input-rounded"
                                    placeholder="Enter Discount Percentage" value="{{toedit.discount}}">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="form-label">Description</label>
                            <div class="mb-3">
                                <input type="text" name="discount" class="form-control input-rounded"
                                    placeholder="Enter Discount Percentage" value="{{toedit.description}}">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="form-label">Validity</label>
                            <div class="mb-3">
                                <input type="date" name="validity" class="form-control input-rounded"
                                    placeholder="Enter Date" value="{{toedit.valid_to}}">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Min and Max Amount</label>
                            <div class="row mb-3">
                                <div class="col-6"><input type="text" name="minamount"
                                        class="form-control input-rounded" placeholder="Min Amount"
                                        value="{{toedit.min_amount}}"></div>
                                <div class="col-6"><input type="text" name="maxamount"
                                        class="form-control input-rounded" placeholder="Max Amount"
                                        value="{{toedit.max_amount}}"></div>


                            </div>
                        </div>


                        <div class="mb-3 row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Edit this Offer</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block CustomScripts %}
{% endblock %}