{% extends 'AdminPanel/base.html' %}
{% load static %}






<!--**********************************
        Main wrapper start
    ***********************************-->

{% block body %}
<div id="main-wrapper">

	<!--**********************************
            Content body start
        ***********************************-->
	<div class="content-body">
		<div class="container-fluid">
			<div class="row page-titles">
				<ol class="breadcrumb">
					<li class="breadcrumb-item active"><a href="javascript:void(0)">Form</a></li>
					<li class="breadcrumb-item"><a href="javascript:void(0)">Validation</a></li>
				</ol>
			</div>
			<!-- row -->
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Edit Room Details</h4>
						</div>
						<div class="card-body">
							<div class="form-validation">
								<form  action="" method="post" enctype="multipart/form-data">
									{% csrf_token %}
									<div class="row">
										<div class="col-xl-6">
											
									
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" for="validationCustom05">Location
												
													<span class="text-danger">*</span>
												</label>
												<div class="col-lg-6">
													<select name='scateg' class="default-select wide form-control"
														id="validationCustom05">
														
														<option  data-display="{{room.subcateg}}">{{room.subcateg}}</option>
														{% for i in sub %}
															<option value="{{ i.id }}">{{ i.title }}</option>
														{% endfor %}
													
													</select>
				
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" for="validationCustom05">Main image
												
													<span class="text-danger">*</span>
												</label>
												<div class="col-lg-6">
													{% if room.img %}
													<div class="row-3">
                                    				<img src="{{ room.img.url }}" alt="image here" class="prod-size"   style="width: 90%;">
													</div>
                                					{% endif %}
													<label for="" class="form-label">Image</label>
                                					<input type="file" name="photoo" class="form-control" accept=".jfif,.jpg,.jpeg,.png,.gif">
				
												</div>
											</div>
											
											
										</div>
										<div class="col-xl-6">
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" for="validationCustom05">Name
												
													<span class="text-danger">*</span>
												</label>
												<div class="col-lg-6">
													<input name="hotel_name" type="text" class="form-control" id="validationCustom06"
														value="{{room.name}}">
													<div class="invalid-feedback">
														Please enter a Currency.
													</div>
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" for="validationCustom06">Description
													<span class="text-danger">*</span>
												</label>
												<div class="col-lg-6">
													<input name="description" type="text" class="form-control" id="validationCustom06"
														value="{{room.Desc}}">
													<div class="invalid-feedback">
														Please enter a Currency.
													</div>
												</div>
											</div>
											<div class="mb-3 row">
												<label class="col-lg-4 col-form-label" for="validationCustom07">Price
													<span class="text-danger">*</span>
												</label>
												<div class="col-lg-6">
													<input name="price" type="number" class="form-control" id="validationCustom07"
														value="{{room.price}}">
													<div class="invalid-feedback">
														Please enter a url.
													</div>
												</div>
											</div>
											
											<div class="mb-3 row">
												<div class="col-lg-8 ms-auto">
													<button type="submit" class="btn btn-primary">Submit</button>
												</div>
											</div>
										</div>
										<!-- <div class="col-12 row">
											<label class="row-lg-4 col-form-label" for="validationCustom05">Multiple Images
											
												<span class="text-danger">*</span>
											</label>
											<div class="row">
												{% for i in multiimage %}
												<div class="col-2">
												<img src="{{ i.image.url }}" alt="image here"  class="prod-size"  style="width: 90%;">
												</div>
												{% endfor %}
												<label for="" class="form-label">Images</label>
												<input type="file" name="images" class="form-control" accept=".jfif,.jpg,.jpeg,.png,.gif" multiple>
			
											</div>
										</div> -->
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!--**********************************
            Content body end
        ***********************************-->
</div>

{% endblock %}



<!--**********************************
        Main wrapper end
    ***********************************-->