{% extends 'AdminPanel/base.html' %}
{% load static %}

<!--**********************************
        Main wrapper start
    ***********************************-->
<div id="main-wrapper">
	{% block body %}
	<!--**********************************
            Content body start
        ***********************************-->
	<div class="content-body">
		<!-- row -->
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-12">
					<div class="d-flex mb-4 justify-content-between align-items-center flex-wrap">
						<div class="card-tabs mt-3 mt-sm-0 mb-xxl-0 mb-4">
							<ul class="nav nav-tabs" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" data-bs-toggle="tab" href="#All" role="tab">All Guest
										(216)</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-bs-toggle="tab" href="#Pending" role="tab">Pending</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-bs-toggle="tab" href="#Booked" role="tab">Booked</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-bs-toggle="tab" href="#Canceled" role="tab">Canceled</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-bs-toggle="tab" href="#Refund" role="tab">Refund</a>
								</li>
							</ul>
						</div>
						<div class="table-search">
							<div class="input-group search-area mb-xxl-0 mb-4">
								<input type="text" class="form-control" placeholder="Search here">
								<span class="input-group-text"><a href="javascript:void(0)"><i
											class="flaticon-381-search-2"></i></a></span>
							</div>
						</div>
						<a href="javascript:void(0);" class="btn btn-primary mb-xxl-0 mb-4 "><i
								class="far fa-file-word me-2"></i>Generate Report</a>
					</div>
					<div class="tab-content">
						<div class="tab-pane active show" id="All">
							<div class="table-responsive">
								<table
									class="table card-table default-table display mb-4 dataTablesCard table-responsive-xl "
									id="guestTable-all">
									<thead>
										<tr>
											<th class="bg-none">
												<div class="form-check style-1">
													<input class="form-check-input" type="checkbox" value=""
														id="checkAll">
												</div>
											</th>
											<th>Guest</th>
											<th>First Name</th>
											<th>Last Name</th>
											<th>Email</th>
											<th>Status</th>
											<th>Action</th>
											<th>Delete/Edit</th>
											<th class="bg-none"></th>
										</tr>
									</thead>
									<tbody>
										{% for i in datas %}
										<tr>
											<td>
												<div class="form-check style-1">
													<input class="form-check-input" type="checkbox" value="">
												</div>
											</td>
											<td>
												<div class="media-bx">
													<img class="me-3 rounded" src="{% static 'admin/images/avatar/1.png' %}" alt="">
													<div>
														<span class="text-primary">#{{i.id}}</span>
														<h4 class="mb-0 mt-1"><a class="text-black"
																href="guest-detail.html">{{i.username}}</a></h4>
													</div>
												</div>
											</td>
											<td>
												<div>
													<h5>{{i.first_name}}</h5>
													<!-- <span class="fs-14">08:29 AM</span> -->


												</div>
											</td>
											<td>
												<div>
													<h5>{{i.last_name}}</h5>
													<!-- <span class="fs-14">08:29 AM</span> -->
												</div>
											</td>
											<td>
												<div>
													<h5>{{i.email}}</h5>
													<!-- <span class="fs-14">08:29 AM</span> -->
												</div>
											</td>
											<td>{% if i.is_superuser %}
												<h5>Admin</h5>
												{% else %}
												<h5>User</h5>
												{% endif %}
											</td>
											<td>
												<div>
												<!-- <a class="delete" href="https://www.google.com/">go here</a> -->

													{% if i.is_active %}
													<!-- <span class="text-danger">Refund</span></td> -->
													<form method="POST" action="{% url 'blockuser' i.id %}">
														{% csrf_token %}
														<input name="_method" type="hidden" value="DELETE">
														<button type="submit" class="btn btn-xs btn-danger btn-flat show_confirm" data-toggle="tooltip" title='Delete'>Block</button>
													</form>
													<!-- <a  class="btn btn-sm btn-danger"
														href="{% url 'blockuser' i.id %}">Block</a> -->
													{% else %}
													<form method="POST" action="{% url 'blockuser' i.id %}">
														{% csrf_token %}
														<input name="_method" type="hidden" value="DELETE">
														<button type="submit" class="btn btn-xs btn-success btn-flat show_confirm" data-toggle="tooltip" title='Delete'>Unblock</button>
													</form>
													<!-- <a class="btn btn-sm btn-success"
														href="{% url 'blockuser' i.id %}">Unblock</a> -->
													{% endif %}
													<!-- <span class="fs-14">Room No. 0024</span> -->
												</div>
												
											</td>
											

											<td>
												<div class="dropdown dropstart">
													<a href="javascript:void(0);" class="btn-link"
														data-bs-toggle="dropdown" aria-expanded="false">
														<svg width="24" height="24" viewBox="0 0 24 24" fill="none"
															xmlns="http://www.w3.org/2000/svg">
															<path
																d="M11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12Z"
																stroke="#262626" stroke-width="2" stroke-linecap="round"
																stroke-linejoin="round" />
															<path
																d="M18 12C18 12.5523 18.4477 13 19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12Z"
																stroke="#262626" stroke-width="2" stroke-linecap="round"
																stroke-linejoin="round" />
															<path
																d="M4 12C4 12.5523 4.44772 13 5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12Z"
																stroke="#262626" stroke-width="2" stroke-linecap="round"
																stroke-linejoin="round" />
														</svg>
													</a>
													<div class="dropdown-menu">
														<a class="dropdown-item" href="javascript:void(0);">Edit</a>
														<a class="dropdown-item" href="javascript:void(0);">Delete</a>
													</div>
												</div>
											</td>
										</tr>
										{% endfor %}

									</tbody>
								</table>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	<script type="text/javascript">
		$('.show_confirm').click(function(event) {
			var form =  $(this).closest("form");
			var name = $(this).data("name");
			event.preventDefault();
			swal({
				title: `Are you sure you want to delete this record?`,
				text: "If you delete this, it will be gone forever.",
				icon: "warning",
				buttons: true,
				dangerMode: true,
			})
			.then((willDelete) => {
				if (willDelete) {
					form.submit();
				}
			});
		});
		</script>
	<!--**********************************
            Content body end
        ***********************************-->

	{% endblock %}


</div>
<!--**********************************
			Main wrapper end
		***********************************-->