{% extends 'AdminPanel/base.html' %}
{% load static %}

<!--**********************************
        Main wrapper start
    ***********************************-->
<div id="main-wrapper">
	{% block body %}
	<!--**********************************
            Content body start
        ***********************************-->
	<div class="content-body">
		<!-- row -->
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-12">
					<div class="d-flex mb-4 justify-content-between align-items-center flex-wrap">
						<div class="card-tabs mt-3 mt-sm-0 mb-xxl-0 mb-4">
							<ul class="nav nav-tabs" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" data-bs-toggle="tab" href="#All" role="tab">All Users
										(216)</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-bs-toggle="tab" href="#Pending" role="tab">Admin</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-bs-toggle="tab" href="#Booked" role="tab">Guests</a>
								</li>
								
							</ul>
						</div>
						<div class="table-search">
							<div class="input-group search-area mb-xxl-0 mb-4">
								<input type="text" class="form-control" placeholder="Search here">
								<span class="input-group-text"><a href="javascript:void(0)"><i
											class="flaticon-381-search-2"></i></a></span>
							</div>
						</div>
						<a href="javascript:void(0);" class="btn btn-primary mb-xxl-0 mb-4 "><i
								class="far fa-file-word me-2"></i>Generate Report</a>
					</div>
					<div class="tab-content">
						<div class="tab-pane active show" id="All">
							{% include "AdminPanel/xml-guest-details.html" %}
						</div>					
					</div>
				</div>
			</div>
		</div>
	</div>

	{% endblock %}


</div>
