{% extends 'AdminPanel/base.html' %}
{% load static %}






<!--**********************************
        Main wrapper start
    ***********************************-->

{% block body %}
<div id="main-wrapper">

	<!--**********************************
            Content body start
        ***********************************-->
	<div class="content-body">
		<!-- row -->
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-12">
					
					<div class="tab-content">
						<div class="tab-pane active show" id="All">
							
							{% include "AdminPanel/xml-room-list.html" %}

						</div>
					</div>
				</div>
			</div>
			<nav  class="d-flex justify-content-center">
				<ul class="pagination pagination-circle">
					{% if rooms.has_previous %} 
					<li class="page-item page-indicator">
						<a class="page-link" href="viewroom?page={{rooms.previous_page_number}}">
							<i class="la la-angle-left"></i></a>
					</li>
					{% endif %}
					{% for n in totalPagelist %}
					<li class="page-item ">
						<a class="page-link" href="viewroom?page={{n}}">{{n}}</a>
					</li>
					{% endfor %}
					
					{% if rooms.has_next %} 
					<li class="page-item page-indicator">
						<a class="page-link" href="viewroom?page={{rooms.next_page_number}}">
							<i class="la la-angle-right"></i></a>
					</li>
					{% endif %}
				</ul>
			</nav>
		</div>
	</div>
	<!--**********************************
            Content body end
        ***********************************-->


</div>
{% endblock %}



<!--**********************************
        Main wrapper end
    ***********************************-->