{% extends 'AdminPanel/base.html' %}
{% load static %}
<!--**********************************
        Main wrapper start
    ***********************************-->

{% block body %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles">

            <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal"
                data-bs-target="#exampleModalCenter">Add SubCategory Offer</button>

        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add SubCategory Offer</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal">
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            
                            <div class="mb-3">
                                <label class="form-label">SubCategory Name</label>
                                <div class="mb-3">
                                    <select class="form-control" name="category_name"  >
                                        {% for x in SubCategory %}
                                        <option value="{{x.id}}">{{x.title}}</option >
                                        {% endfor %}
                                    </select> 
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Discount Percentage</label>
                                <div class="mb-3">
                                    <input type="text" name="discount" class="form-control input-rounded"
                                        placeholder="Enter Discount Percentage">
                                </div>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            {% for i in offers %}
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-header border-0 pb-0"  >
                    <div >
                        <h5 class="card-title">{{i.subcategory.title}}</h5>
                    </div>
                    {% if i.is_active == True %}
                        <div>
                            <div > <p class="me-3">Active </p> </div>
                            <div style="    right: 1.375rem;top:  1.7125rem; background: #15ff00" class="pulse-css"></div>
                        </div>
                        {% else %}
                        <div>
                            <div > <p class="me-3">InActive </p> </div>
                            <div style="    right: 1.375rem;top:  1.7125rem; background: #f70505" class="pulse-css"></div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <b>main cat</b>
                        <p class="card-text">{{i.subcategory.category_id}}</p>
                    </div>
                    <div class="card-body">
                        <b>Discount</b>
                        <p class="card-text">{{i.discount}}</p>
                    </div>
                
                    <div class="card-footer border-0 pt-0">
                        <a href="{% url 'EditSubCategoryOffer' i.id %}" class="card-text d-inline">Edit</a>
                        <a href="javascript:void(0);" class="card-link float-end">Delete</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}