<div class="table-responsive" id="tasks" hx-confirm="Are you sure you want to delete this task?" hx-target="#tasks"
	hx-swap="outerHTML">
	<table class="table card-table  display mb-4 dataTablesCard booking-table room-list-tbl table-responsive-lg "
		id="guestTable-alll">
		<thead>
			<tr>
				
				<th>Room Name</th>
				<th>Location</th>
				<th>Available</th>
				<th>Description</th>
				<th>Price</th>
				<th class="bg-none"></th>
			</tr>
		</thead>
		<tbody>
			{% for i in rooms %}
			<tr>
				
				<td>
					<div class="guest-bx">
						<img class="me-3" src="{{i.img.url}}" alt="">
						<div>
							<span class="text-primary">{{i.id}}</span>
							<h4 class="mb-0 mt-1"><a class="text-black" href="{% url 'editroom' i.id  %}">{{i.name}}</a>
							</h4>
						</div>
					</div>
				</td>
				<td>
					<div>
						<span class="fs-16">{{i.subcateg}}</span>
					</div>
				</td>
				<td>
					<div>
						<span class="fs-16">{{i.room_count}}</span>
					</div>
				</td>
				<td>
					<div>
						<span class="fs-16">{{i.Desc|truncatechars:15}}</span>
					</div>
				</td>
				<td>
					<div>
						<span class="d-block">{{i.price}}</span>
						<!-- <span class="fs-14">Oct 24th - 26th</span> -->
					</div>
				</td>
				<td>
					<div class="dropdown dropstart">
						<a href="javascript:void(0);" class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none"
								xmlns="http://www.w3.org/2000/svg">
								<path
									d="M11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12Z"
									stroke="#262626" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
								<path
									d="M18 12C18 12.5523 18.4477 13 19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12Z"
									stroke="#262626" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
								<path
									d="M4 12C4 12.5523 4.44772 13 5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12Z"
									stroke="#262626" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
							</svg>
						</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="{% url 'editroom' i.id  %}">Edit</a>
							<a class="dropdown-item show_confirm" 
								hx-delete="{% url 'deleteroom' i.id  %}">Delete</a>
							<!-- <a class="dropdown-item" href="{% url 'deleteroom' i.id  %}">Delete</a> -->
						</div>
					</div>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>