{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <!-- ========== SEO ========== -->
  <title>Home To Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <meta content="" name="author">
  <!-- ========== FAVICON ========== -->
  <link rel="apple-touch-icon-precomposed" href="{% static 'home/images/favicon-apple.png' %}" />
  <link rel="icon" href="{% static 'home/images/favicon.png' %}">
  <!-- ========== STYLESHEETS ========== -->
  <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'home/css/bootstrap-select.min.css' %}">
  <link rel="stylesheet" href="{% static 'home/css/jquery.mmenu.css' %}">
  <link rel="stylesheet" href="{% static 'home/revolution/css/layers.css' %}">
  <link rel="stylesheet" href="{% static 'home/revolution/css/settings.css' %}">
  <link rel="stylesheet" href="{% static 'home/revolution/css/navigation.css' %}">
  <link rel="stylesheet" href="{% static 'home/css/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'home/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'home/css/daterangepicker.css' %}">
  <link rel="stylesheet" href="{% static 'home/css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'home/css/responsive.css' %}">


<!-- CSS -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
  <!-- Default theme -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>

  <!-- ========== ICON FONTS ========== -->
  <link href="{% static 'home/fonts/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'home/fonts/flaticon.css' %}" rel="stylesheet">
  <!-- ========== GOOGLE FONTS ========== -->
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,500,600,700%7CRoboto:100,300,400,400i,500,700"
    rel="stylesheet">
  <script src="https://unpkg.com/js-image-zoom@0.7.0/js-image-zoom.js" type="application/javascript"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  
<style>
  #lens{
	z-index: 99;
	position: absolute;

	height: 125px;
	width: 125px;
	border:2px solid black;
	background-repeat: no-repeat;
	cursor: none;

}

</style>
{% block styles %}
{% endblock %}


</head>

<body>
  <!-- ========== MOBILE MENU ========== -->
  <nav id="mobile-menu"></nav>
  <!-- ========== WRAPPER ========== -->
  <div class="wrapper">
    <!-- ========== TOP MENU ========== -->

    <!-- ========== HEADER ========== -->
    <header class="horizontal-header sticky-header transparent-header loaded-header mm-slideout header-fixed-top" data-menutoggle="991">
      <div class="container">
        <!-- BRAND -->
        <div class="brand">
          <div class="logo">
            <a href="{% url 'home' %}">
              <!-- <h3>HOME 2 HOME</h3> -->
              <img src="{% static 'home/images/logo.png' %}" style=" width: 32vh;" alt="Hotel Himara">
            </a>
          </div>
        </div>
        <!-- MOBILE MENU BUTTON -->
        <div id="toggle-menu-button" class="toggle-menu-button">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </div>
        <!-- MAIN MENU -->
        <nav id="main-menu" class="main-menu">
          <ul class="menu">
            <li class="menu-item dropdown">
              <a href="{% url 'home' %}">HOME</a>

            </li>
            <li class="menu-item dropdown">
              <a href="{% url 'userroomview' %}">ROOMS</a>

            </li>
            <li class="menu-item dropdown ">
              <a href="#">Bookings</a>
              <ul class="submenu">
                <li class="menu-item">
                  <a href="{% url 'userbookings' %}">All Bookings</a>
                </li>
                <li class="menu-item">
                  <a href="{% url 'wishlist' %}">Wishlist</a>
                </li>

              </ul>

            </li>
            <li class="menu-item dropdown">
              <a href="#">ABOUT US</a>

            </li>
            {% if user.is_superadmin %}

            <li class="menu-item dropdown">
              <a href="{% url 'index' %}">Admin Panel</a>
              {% else %}
            <li class="menu-item dropdown">
              <a href="">CONTACT US</a>

              {% endif %}

            </li>
            <li class="menu-item menu-btn dropdown">
              <a href="" class="btn">
                {% if user.is_authenticated %}
                <i class="fa fa-user"></i>
                {{user.username}}

              </a>
              <ul class="submenu">
                <li class="menu-item">
                  <a href="{% url 'logout' %}">Logout</a>
                </li>
                <li class="menu-item">
                  <a href="{% url 'profile' %}">Profile</a>
                </li>

              </ul>
              
                {% else %}
                <i class="fa fa-user"></i>
                LOGIN

              </a>
              <ul class="submenu">
                <li class="menu-item">
                  <a href="{% url 'signin' %}">Login</a>
                </li>
                <li class="menu-item">
                  <a href="{% url 'register' %}">Register</a>
                </li>

              </ul>
              {% endif %}
            </li>
          </ul>
        </nav>
      </div>
    </header>

    {% block body %}
    {% endblock %}


    <footer>
      <div class="footer-widgets">
        <div class="container">
          <div class="row">
            <!-- WIDGET -->
            <div class="col-md-3">
              <div class="footer-widget">
                <img src="{% static 'home/images/logo.svg' %}" class="footer-logo" alt="Hotel Himara">
                <div class="inner">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, velit placeat assumenda incidunt
                    dolorem aliquam!</p>
                  <a href="https://www.tripadvisor.com/" target="_blank">
                    <div class="tripadvisor-banner">
                      <span class="review">Recommended</span>
                      <img src="{% static 'home/images/icons/tripadvisor.png' %}" alt="Image">
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <!-- WIDGET -->
            <div class="col-md-3">
              <div class="footer-widget">
                <h3>LATEST NEWS</h3>
                <div class="inner">
                  <ul class="latest-posts">
                    <li>
                      <a href="blog-post.html">10 Tips for holiday travel</a>
                    </li>
                    <li>
                      <a href="blog-post.html">Are you ready to enjoy your holidays</a>
                    </li>
                    <li>
                      <a href="blog-post.html">Honeymoon at Hotel Himara</a>
                    </li>
                    <li>
                      <a href="blog-post.html">Travel gift ideas for every type of traveler</a>
                    </li>
                    <li>
                      <a href="blog-post.html">Breakfast with coffee and orange juice</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- WIDGET -->
            <div class="col-md-3">
              <div class="footer-widget">
                <h3>USEFUL LINKS</h3>
                <div class="inner">
                  <ul class="useful-links">
                    <li>
                      <a href="about-us.html">About Us</a>
                    </li>
                    <li>
                      <a href="contact.html">Contact Us</a>
                    </li>
                    <li>
                      <a href="shop.html">Shop</a>
                    </li>
                    <li>
                      <a href="gallery.html">Himara Gallery</a>
                    </li>
                    <li>
                      <a href="location.html">Our Location</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- WIDGET -->
            <div class="col-md-3">
              <div class="footer-widget">
                <h3>Contact Info</h3>
                <div class="inner">
                  <ul class="contact-details">
                    <li>
                      <i class="fa fa-map-marker" aria-hidden="true"></i>
                      Lorem ipsum dolor, 25, Himara
                    </li>
                    <li>
                      <i class="fa fa-phone" aria-hidden="true"></i>
                      Phone: +1 888 123 4567
                    </li>
                    <li>
                      <i class="fa fa-fax"></i>
                      Fax: +1 888 123 4567
                    </li>
                    <li>
                      <i class="fa fa-globe"></i>
                      Web: www.hotelhimara.com
                    </li>
                    <li>
                      <i class="fa fa-envelope"></i>
                      Email:
                      <a href="mailto:info@site.com">contact@hotelhimara.com</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SUBFOOTER -->
      <div class="subfooter">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="copyrights">&copy; 2018 Hotel Himara. Designed by
                <a href="https://eagle-themes.com/" target="_blank">Eagle-Themes</a>.
              </div>
            </div>
            <div class="col-md-6">
              <div class="social-media">
                <a class="facebook" data-original-title="Facebook" data-toggle="tooltip" href="#">
                  <i class="fa fa-facebook"></i>
                </a>
                <a class="twitter" data-original-title="Twitter" data-toggle="tooltip" href="#">
                  <i class="fa fa-twitter"></i>
                </a>
                <a class="googleplus" data-original-title="Google Plus" data-toggle="tooltip" href="#">
                  <i class="fa fa-google-plus"></i>
                </a>
                <a class="pinterest" data-original-title="Pinterest" data-toggle="tooltip" href="#">
                  <i class="fa fa-pinterest"></i>
                </a>
                <a class="linkedin" data-original-title="Linkedin" data-toggle="tooltip" href="#">
                  <i class="fa fa-linkedin"></i>
                </a>
                <a class="youtube" data-original-title="Youtube" data-toggle="tooltip" href="#">
                  <i class="fa fa-youtube"></i>
                </a>
                <a class="instagram" data-original-title="Instagram" data-toggle="tooltip" href="#">
                  <i class="fa fa-instagram"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <div class="notification"></div>
  <!-- ========== BACK TO TOP ========== -->
  <div class="back-to-top">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
  </div>
  <!-- ========== JAVASCRIPT ========== -->
  <script>
    function onchangee() {
      $(document).on("change", ".txtDate", function () {
        debugger
        var date = $(this).val();
        console.log(date)
        var currentDate = new Date(date);
        console.log(currentDate)
        next_date = new Date(currentDate.setDate(currentDate.getDate() + 1));
        var newDate = next_date.getFullYear() + "-" + ((next_date.getMonth() < 9 ? '0' : '') + (next_date.getMonth()+1)) + "-" + ((next_date.getDate() < 10 ? '0' : '') + next_date.getDate()); 
        
        console.log(newDate)
  
  
  
  
  
  
  
  
        $('.to').attr('min', newDate);
      });
    }
  
    $(function () {
          var dtToday = new Date();
  
          var month = dtToday.getMonth() + 1;
          var day = dtToday.getDate();
          var year = dtToday.getFullYear();
          if (month < 10)
              month = '0' + month.toString();
          if (day < 10)
              day = '0' + day.toString();
  
          var maxDate = year + '-' + month + '-' + day;
  
          // or instead:
          // var maxDate = dtToday.toISOString().substr(0, 10);
  
  
          $('.txtDate').attr('min', maxDate);
      });
  </script>
  <script>
    document.getElementById('img-container').addEventListener('mouseover', function(){
    imageZoom('featured')
    
})

function imageZoom(imgID){
	let img = document.getElementById(imgID)
	let lens = document.getElementById('lens')

	lens.style.backgroundImage = `url( ${img.src} )`

	let ratio = 3

	lens.style.backgroundSize = (img.width * ratio) + 'px ' + (img.height * ratio) + 'px';

	img.addEventListener("mousemove", moveLens)
	lens.addEventListener("mousemove", moveLens)
	img.addEventListener("touchmove", moveLens)

	function moveLens(){
		/*
        Function sets sets position of lens over image and background image of lens
        1 - Get cursor position
        2 - Set top and left position using cursor position - lens width & height / 2
        3 - Set lens top/left positions based on cursor results
        4 - Set lens background position & invert
        5 - Set lens bounds
    
        */

        //1
		let pos = getCursor()
		//console.log('pos:', pos)

		//2
		let positionLeft = pos.x - (lens.offsetWidth / 2)
		let positionTop = pos.y - (lens.offsetHeight / 2)

		//5
		if(positionLeft < 0 ){
			positionLeft = 0
		}

		if(positionTop < 0 ){
			positionTop = 0
		}

		if(positionLeft > img.width - lens.offsetWidth /3 ){
			positionLeft = img.width - lens.offsetWidth /3
		}

		if(positionTop > img.height - lens.offsetHeight /3 ){
			positionTop = img.height - lens.offsetHeight /3
		}


		//3
		lens.style.left = positionLeft + 'px';
		lens.style.top = positionTop + 'px';

		//4
		lens.style.backgroundPosition = "-" + (pos.x * ratio) + 'px -' +  (pos.y * ratio) + 'px'
	}

	function getCursor(){
		/* Function gets position of mouse in dom and bounds
         of image to know where mouse is over image when moved
        
        1 - set "e" to window events
        2 - Get bounds of image
        3 - set x to position of mouse on image using pageX/pageY - bounds.left/bounds.top
        4- Return x and y coordinates for mouse position on image
        
         */

        let e = window.event
        let bounds = img.getBoundingClientRect()

        //console.log('e:', e)
        //console.log('bounds:', bounds)
        let x = e.pageX - bounds.left
		let y = e.pageY - bounds.top
		x = x - window.pageXOffset;
		y = y - window.pageYOffset;
		
		return {'x':x, 'y':y}
	}

}

imageZoom('featured')
  </script>

  <script>
    {% for flash in messages %}
    {% if flash.tags == 'error' %}
      alertify.set('notifier','position', 'top-right');
      alertify.error('{{flash}}');
    {% elif flash.tags == 'success' %}
      alertify.set('notifier','position', 'top-right');
      alertify.success('{{flash}}');
    {% elif flash.tags == 'warning' %}
      alertify.set('notifier','position', 'top-right');
      alertify.warning('{{flash}}');
    {% endif %}
    {% endfor %}
  </script>
  
    
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="{% static 'home/js/jquery.min.js' %}"></script>
  <script src="http://maps.google.com/maps/api/js?key=YOUR_API_KEY"></script>
  <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'home/js/bootstrap-select.min.js' %}"></script>
  <script src="{% static 'home/js/jquery.mmenu.js' %}"></script>
  <script src="{% static 'home/js/jquery.inview.min.js' %}"></script>
  <script src="{% static 'home/js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'home/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'home/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'home/js/owl.carousel.thumbs.min.js' %}"></script>
  <script src="{% static 'home/js/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'home/js/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'home/js/masonry.pkgd.min.js' %}"></script>
  <script src="{% static 'home/js/wow.min.js' %}"></script>
  <script src="{% static 'home/js/countup.min.js' %}"></script>
  <script src="{% static 'home/js/moment.min.js' %}"></script>
  <script src="{% static 'home/js/daterangepicker.js' %}"></script>
  <script src="{% static 'home/js/parallax.min.js' %}"></script>
  <script src="{% static 'home/js/smoothscroll.min.js' %}"></script>
  <script src="{% static 'home/js/instafeed.min.js' %}"></script>
  <script src="{% static 'home/js/main.js' %}"></script>
  <!-- ========== REVOLUTION SLIDER ========== -->
  <script src="{% static 'home/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
  <script src="{% static 'home/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
  <script src="{% static 'home/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
  <script src="{% static 'home/revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
  <script src="{% static 'home/revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
  <script src="{% static 'home/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
  <script src="{% static 'home/revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
  <script src="{% static 'home/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
  <script src="{% static 'home/revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
  <script src="{% static 'home/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
  <script src="{% static 'home/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
</body>

</html>