{% extends 'UserHome/base.html' %}
{% load static %}

{% block body %}
<!-- ========== PAGE TITLE ========== -->
<div class="page-title gradient-overlay op6"
  style="background: url(images/breadcrumb.jpg); background-repeat: no-repeat; background-size: cover;">
  <div class="container">
    <div class="inner">
      <br>
      <br>
      <br>
      <h1>Bookings</h1>
      <ol class="breadcrumb">
        <li>
          <a href="{% url 'home' %}">Home</a>
        </li>
        <li>Rooms</li>
      </ol>
    </div>
  </div>
</div>
<!-- ========== MAIN ========== -->
<main class="rooms-list-view" >
{% include "UserHome/xml-bookings.html" %}
</main>



{% endblock %}