{% extends 'UserHome/base.html' %}
{% load static %}

{% block body %}  
    <!-- ========== ABOUT ========== -->
    <section class="image-bg parallax gradient-overlay op4 " data-src="{% static 'home/images/slider12.jpg' %}" data-parallax="scroll" data-speed="0.3" data-mirror-selector=".wrapper" data-z-index="0">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="section-title">
              <h4 class="text-uppercase">Home to Home. since 2022</h4>
              <p class="section-subtitle">High quality accommodation services</p>
            </div>
            <div class="info-branding">
              <p>Book your Rooms and get Luxury stay </p>
              
            </div>
          </div>
          <div class="col-lg-4">
            <!-- ========== BOOKING FORM ========== -->
            <div class="vertical-booking-form slider-booking-form mt-5">
              <h3 class="form-title">BOOK YOUR ROOM</h3>
              <div class="inner">
                <form  method="POST">
                  {% csrf_token %}
                  <!-- EMAIL -->
                  <!-- <div class="form-group">
                    <input class="form-control" name="booking-email" type="email" placeholder="Your Email Address" value="{{user.email}}">
                  </div> -->
                  <!-- ROOM TYPE -->
                  
                  <!-- DATE -->
                  <div class="form-group">
                    <!-- <input type="text"  class="datepicker form-control " name="booking-date" readonly="readonly"> -->
                  </div>
                  <div class="row form-group">
                    <div class="col-md-12">
                      <label for="mintopay">Check in</label>
                      <p>
                        <input type="date" name="checkin" id="checkin" class="form-control txtDate"
                          onchange="onchangee()">
                      </p>
                    </div>
                    <div class="col-md-12">
                      <label for="maxtopay">Check out</label>
                      <p>
                        <input type="date" name="checkout" id="checkout" class="form-control to">
                      </p>
                    </div>
                  <!-- GUESTS -->
                  
                  <!-- BOOKING BUTTON -->
                  <input type="submit" class="btn btn-dark btn-book" value="search">
                  <div class="advanced-form-link">
                    
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ========== ROOMS ========== -->
    <section class="rooms">
      <div class="container">
        <div class="section-title">
          <h4>OUR ROOMS</h4>
          <p class="section-subtitle">Our favorite rooms</p>
          <a href="{% url 'userroomview'  %}" class="view-all">View all rooms</a>
        </div>
        <div class="row">
          <!-- ITEM -->
          {% for i in rooms %}
          {% if forloop.counter <= 3 %}  
          <div class="col-md-4">
            <div class="room-grid-item animated fadeInUp wow" data-wow-offset="30" data-wow-delay=".2s">
              <figure class="gradient-overlay-hover link-icon">
                <a href="{% url 'roomdetails' i.id  %}">
                  <img src="{{i.img.url}}" class="img-fluid" alt="Image">
                </a>
                <div class="room-services">
                  <i class="fa fa-coffee" aria-hidden="true" data-toggle="popover" data-placement="right"
                    data-trigger="hover" data-content="Breakfast Included" data-original-title="Breakfast"></i>
                  <i class="fa fa-wifi" aria-hidden="true" data-toggle="popover" data-placement="right"
                    data-trigger="hover" data-content="Free WiFi" data-original-title="WiFi"></i>
                  <i class="fa fa-television" data-toggle="popover" data-placement="right" data-trigger="hover"
                    data-content="Plasma TV with cable channels" data-original-title="TV"></i>
                </div>
                {% if i.discount_price > 0 %}
                <div class="room-price">
                  <span><del>  ₹ {{i.price}}</del></span>
                  <span> ₹ {{i.discount_price}} / night</span>
                  {% else %}
                  
                  <span>  ₹ {{i.price}} / night</span>
                </div>
                
                {% endif %}
              </figure>
              <div class="room-info">
                <h2 class="room-title">
                  <a href="{% url 'roomdetails' i.id  %}">{{i.name}}</a>
                </h2>
                <p>{{i.Desc|truncatechars:30}}</p>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
          <!-- ITEM -->
          
        </div>
      </div>
    </section>
    <!-- ========== SERVICES ========== -->
    <section class="services">
      <div class="container">
        <div class="section-title">
          <h4>H2H. SERVICES</h4>
          <p class="section-subtitle">Check out our awesome services</p>
        </div>
        <div class="row">
          <div class="col-lg-7 col-12">
            <div data-slider-id="services" class="services-owl owl-carousel animated fadeInUp wow" data-wow-offset="30"
              data-wow-delay=".2s">
              <figure class="gradient-overlay">
                <img src="{% static 'home/images/services/restaurant.jpg' %}" class="img-fluid" alt="Image">
                <figcaption>
                  <h4>Restaurant</h4>
                </figcaption>
              </figure>
              <figure class="gradient-overlay">
                <img src="{% static 'home/images/services/spa.jpg' %}" class="img-fluid" alt="Image">
                <figcaption>
                  <h4>Spa</h4>
                </figcaption>
              </figure>
              <figure class="gradient-overlay">
                <img src="{% static 'home/images/services/conference.jpg' %}" class="img-fluid" alt="Image">
                <figcaption>
                  <h4>Conference Room</h4>
                </figcaption>
              </figure>
              <figure class="gradient-overlay">
                <img src="{% static 'home/images/services/swimming.jpg' %}" class="img-fluid" alt="Image">
                <figcaption>
                  <h4>Swimming Pool</h4>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="col-lg-5 col-12">
            <div class="owl-thumbs animated fadeInUp wow" data-wow-offset="30" data-wow-delay=".2s"
              data-slider-id="services">
              <div class="owl-thumb-item">
                <span class="media-left">
                  <i class="flaticon-tray-1"></i>
                </span>
                <div class="media-body">
                  <h5>Restaurant</h5>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                    ut laoreet.</p>
                </div>
              </div>
              <div class="owl-thumb-item">
                <span class="media-left">
                  <i class="flaticon-nature"></i>
                </span>
                <div class="media-body">
                  <h5>Spa - Beauty &amp; Health</h5>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                    ut laoreet.</p>
                </div>
              </div>
              <div class="owl-thumb-item">
                <span class="media-left">
                  <i class="flaticon-screen-1"></i>
                </span>
                <div class="media-body">
                  <h5>Conference Room</h5>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                    ut laoreet.</p>
                </div>
              </div>
              <div class="owl-thumb-item">
                <span class="media-left">
                  <i class="flaticon-sports"></i>
                </span>
                <div class="media-body">
                  <h5>Swimming Pool</h5>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                    ut laoreet.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ========== GALLERY ========== -->
    <section class="gallery">
      <div class="container">
        <div class="section-title">
          <h4>HIMARA. GALLERY</h4>
          <p class="section-subtitle">Check out our image gallery</p>
          <a href="gallery.html" class="view-all">View gallery images</a>
        </div>
        <div class="gallery-owl owl-carousel image-gallery">
          <!-- ITEM -->
          <div class="gallery-item animated fadeInUp wow" data-wow-offset="30" data-wow-delay=".2s">
            <figure class="gradient-overlay image-icon">
              <a href="{% static 'home/images/gallery/gallery1.jpg' %}">
                <img src="{% static 'home/images/gallery/gallery1.jpg' %}" alt="Image">
              </a>
              <figcaption>Swimming Pool</figcaption>
            </figure>
          </div>
          <!-- ITEM -->
          <div class="gallery-item animated fadeInUp wow" data-wow-offset="30" data-wow-delay=".4s">
            <figure class="gradient-overlay image-icon">
              <a href="{% static 'home/images/gallery/gallery2.jpg' %}">
                <img src="{% static 'home/images/gallery/gallery2.jpg' %}" alt="Image">
              </a>
              <figcaption>Room View</figcaption>
            </figure>
          </div>
          <!-- ITEM -->
          <div class="gallery-item animated fadeInUp wow" data-wow-offset="30" data-wow-delay=".6s">
            <figure class="gradient-overlay image-icon">
              <a href="{% static 'home/images/gallery/gallery3.jpg' %}">
                <img src="{% static 'home/images/gallery/gallery3.jpg' %}" alt="Image">
              </a>
              <figcaption>Cocktail</figcaption>
            </figure>
          </div>
          <!-- ITEM -->
          <div class="gallery-item animated fadeInUp wow" data-wow-offset="30" data-wow-delay=".4s">
            <figure class="gradient-overlay image-icon">
              <a href="{% static 'home/images/gallery/gallery4.jpg' %}">
                <img src="{% static 'home/images/gallery/gallery4.jpg' %}" alt="Image">
              </a>
              <figcaption>Breakfast</figcaption>
            </figure>
          </div>
          <!-- ITEM -->
          <div class="gallery-item animated fadeInUp wow" data-wow-offset="30" data-wow-delay=".2s">
            <figure class="gradient-overlay image-icon">
              <a href="{% static 'home/images/gallery/gallery5.jpg' %}">
                <img src="{% static 'home/images/gallery/gallery5.jpg' %}" alt="Image">
              </a>
              <figcaption>Playground</figcaption>
            </figure>
          </div>
          <!-- ITEM -->
          <div class="gallery-item">
            <figure class="gradient-overlay image-icon">
              <a href="{% static 'home/images/gallery/gallery6.jpg' %}">
                <img src="{% static 'home/images/gallery/gallery6.jpg' %}" alt="Image">
              </a>
              <figcaption>Restaurant</figcaption>
            </figure>
          </div>
          <!-- ITEM -->
          <div class="gallery-item">
            <figure class="gradient-overlay image-icon">
              <a href="{% static 'home/images/gallery/gallery7.jpg' %}">
                <img src="{% static 'home/images/gallery/gallery7.jpg' %}" alt="Image">
              </a>
              <figcaption>Wedding Ceremony</figcaption>
            </figure>
          </div>
          <!-- ITEM -->
          <div class="gallery-item">
            <figure class="gradient-overlay image-icon">
              <a href="{% static 'home/images/gallery/gallery8.jpg' %}">
                <img src="{% static 'home/images/gallery/gallery8.jpg' %}" alt="Image">
              </a>
              <figcaption>Beach</figcaption>
            </figure>
          </div>
          <!-- ITEM -->
          <div class="gallery-item">
            <figure class="gradient-overlay image-icon">
              <a href="{% static 'home/images/gallery/gallery9.jpg' %}">
                <img src="{% static 'home/images/gallery/gallery9.jpg' %}" alt="Image">
              </a>
              <figcaption>Honeymoon Room</figcaption>
            </figure>
          </div>
          <!-- ITEM -->
          <div class="gallery-item">
            <figure class="gradient-overlay image-icon">
              <a href="{% static 'home/images/gallery/gallery10.jpg' %}">
                <img src="{% static 'home/images/gallery/gallery10.jpg' %}" alt="Image">
              </a>
              <figcaption>Sea</figcaption>
            </figure>
          </div>
        </div>
      </div>
    </section>
    <!-- ========== RESTAURANT ========== -->
    
    <!-- ========== OFFERS ========== -->
    
    <!-- ========== SHOP ========== -->
    
    <!-- ========== SPA ========== -->
   
    <!-- ========== CONTACT ========== -->
    <section class="contact animated fadeInUp wow" data-wow-offset="30" data-wow-delay=".2s">
      <div class="container">
        <div class="section-title">
          <h4>CONTACT US</h4>
          <p class="section-subtitle">Get in touch</p>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15714.307735550163!2d76.32898279999999!3d10.05172645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1664520374012!5m2!1sen!2sin" width="550" height="430" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

          </div>
          <div class="col-lg-6">
            <div class="contact-items">
              <div class="row">
                <div class="col-lg-6 col-sm-12">
                  <div class="contact-item">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <h6>+1 888 123 4567</h6>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <div class="contact-item">
                    <i class="fa fa-envelope"></i>
                    <h6>contact@hotelhimara.com</h6>
                  </div>
                </div>
              </div>
            </div>
            <form id="contact-form" name="contact-form">
              <div class="form-group">
                <input class="form-control" name="name" placeholder="Your Name" type="text">
              </div>
              <div class="form-group">
                <input class="form-control" name="email" type="email" placeholder="Your Email Address">
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" placeholder="Your Message"></textarea>
              </div>
              <button class="btn btn-fw" type="submit">
                <i class="fa fa-location-arrow"></i>Send Message</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- ========== INSTAGRAM ========== -->
   
    <!-- ========== FOOTER ========== -->
    {% endblock %}