{% extends 'UserHome/base.html' %}
{% load static %}

{% block body %}
<style>
    .razorpay-payment-button {
        background: #d7d8d9;
        color: #fff;
        letter-spacing: 0.5px;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 2px;
        padding: 10px 20px;
        width: 100%;
        border: 1px solid transparent;
        cursor: pointer;

    }


    .coupon-box .radio-icon-div .radio-icon {
        width: 25px;
        height: 25px;
        display: inline-block;
        float: left;
    }

    .coupon-box .custom-title span {
        padding: 2px 10px;
        border-width: 2px;
        border-style: dashed;
    }

    .radio-icon-div ul {
        list-style: none;
    }
    
</style>
<!-- ========== PAGE TITLE ========== -->
<div class="page-title gradient-overlay op5" style="background: url(images/breadcrumb.jpg); background-repeat: no-repeat;
    background-size: cover;">
    <div class="container">
        <div class="inner">
            <br>
            <br>
            <br>
            <h1>SINGLE ROOM</h1>
            <div class="room-details-price">
                €89 / NIGHT
            </div>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="index.html">Rooms</a>
                </li>
                <li>Single Room</li>
            </ol>
        </div>
    </div>
</div>
<!-- ========== MAIN ========== -->
<main class="room">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-12">
                <!-- ROOM SLIDER -->

                <div class="sidebar">
                    <!-- WIDGET -->
                    <aside class="widget noborder">
                        <div class="vertical-booking-form">
                            <div id="booking-notification" class="notification"></div>
                            <h3 class="form-title">YOUR DETAILS</h3>
                            <div class="inner">

                                <!-- EMAIL -->
                                <div class="form-group">
                                    <label for="">NAME</label>
                                    <input class="form-control" name="name" placeholder="Your Name"
                                        value="{{booking.user}}">
                                </div>
                                <!-- ROOM TYPE -->
                                <div class="form-group">
                                    <label for="">EMAIL</label>
                                    <input class="form-control" name="email" placeholder="Your Email Address"
                                        value="{{booking.user.email}}">
                                </div>
                                <!-- DATE -->
                                <div class="form-group">
                                    <label for="">PHONE</label>
                                    <input class="form-control" name="phone" placeholder="Your Phone No"
                                        value="{{booking.user.phone_number}}">
                                </div>

                                <!-- BOOKING BUTTON -->
                                <!-- <button type="submit" class="btn btn-dark btn-fw mt20 mb20">PAY NOW</button> -->

                            </div>
                        </div>
                    </aside>

                </div>
                <div class="sidebar">
                    <!-- WIDGET -->
                    <aside class="widget noborder">
                        <div class="vertical-booking-form">
                            <div id="booking-notification" class="notification"></div>
                            <h3 class="form-title">CHOOSE PAYMENT</h3>
                            {% if wallet_status == None %}


                            <div class="inner">
                                <!-- EMAIL -->
                                <a href="{% url 'paypal' %}" class="btn btn-gray btn-fw mt20 mb20">PAYPAL</a>
                                <!-- BOOKING BUTTON -->
                                <form class="text-center border border-light p-5" style="padding: 0px !important;"
                                    action="success" method="POST">
                                    {% csrf_token %}
                                    <!-- RAZORPAY INTEGRATION HERE -->
                                    <script src="https://checkout.razorpay.com/v1/checkout.js"
                                        data-key="rzp_test_4IGtVl9xeiuWPZ" data-amount="{{razamt}}"
                                        data-currency="INR" data-order_id="{{payment.id}}"
                                        data-buttontext="Pay with Razorpay" data-name="Home to Home"
                                        data-description="Book your perfect room."
                                        data-image="https://example.com/your_logo.jpg" data-prefill.name="H2H"
                                        data-prefill.email="user@gmail.com" data-theme.color="#F37254">
                                    </script>
                                    <!-- <input type="submit" value="Pay with Razorpay" class="razorpay-payment-button"> -->
                                </form>
                                <a href="{% url 'paymentsuccess' %}" class="btn btn-gray btn-fw mt20 mb20">PAY AT
                                    HOTEL</a>
                            </div>



                            
                            {% elif wallet_status == 'partiallyused' %}
                            <div class="inner">
                                <!-- EMAIL -->
                                <a href="{% url 'paypal' %}" class="btn btn-gray btn-fw mt20 mb20">PAYPAL</a>
                                <!-- BOOKING BUTTON -->
                                <form class="text-center border border-light p-5" style="padding: 0px !important;"
                                    action="#" method="POST">
                                    {% csrf_token %}
                                    <!-- RAZORPAY INTEGRATION HERE -->
                                    <script src="https://checkout.razorpay.com/v1/checkout.js"
                                        data-key="rzp_test_4IGtVl9xeiuWPZ" 
                                        data-amount="{{razamt}}"
                                        data-currency="INR" 
                                        data-order_id="{{payment.id}}"
                                        data-callback_url="success"
                                        data-buttontext="Pay with Razorpay" 
                                        data-name="Home to Home"
                                        data-description="Book your perfect room."
                                        data-image="https://example.com/your_logo.jpg" 
                                        data-prefill.name="H2H"
                                        data-prefill.email="user@gmail.com" 
                                        data-theme.color="#F37254">
                                    </script>
                                    <!-- <input type="submit" value="Pay with Razorpay" class="razorpay-payment-button"> -->
                                </form>
                            
                            </div>
                            
                            {% elif wallet_status == 'used' %}

                            <div class="inner">
                                <!-- EMAIL -->
                                <a href="{% url 'WalletPayment' %}" class="btn btn-gray btn-fw mt20 mb20">Book Now</a>
                            </div>
                            
                            {% endif %}
                        </div>
                    </aside>

                </div>




                <!-- ROOM REVIEWS -->


            </div>
            <!-- SIDEBAR -->
            <div class="col-lg-5 col-12">

                <div class="sidebar" style="    position: sticky;
                top: 83px;">
                    <!-- WIDGET -->
                    <aside class="widget noborder">
                        <div class="vertical-booking-form">
                            <div id="booking-notification" class="notification"></div>
                            <div class="inner row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-8">
                                            <h1>{{booking.hotel.name}}</h1>
                                        </div>
                                        <div class="col-4">
                                            <figure class="gradient-overlay-hover link-icon">
                                                <a href="room.html"><img src="{{booking.hotel.img.url}}" class="img-fluid" alt="Image"></a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <hr>
                                    <div class=" col-12 d-flex">

                                        <p><i class="fa fa-fw" aria-hidden="true" title="Copy to use calendar"></i></p>
                                        <p>{{booking.start_date}}&nbsp;&nbsp;-</p>&nbsp;&nbsp;
                                        <p>{{booking.end_date}}</p>

                                    </div>
                                    <hr>
                                    <div class="col-lg-12 row">
                                        <div class="col-9">
                                            <p>Room Price </p>
                                        </div>
                                        <div class="col-3">
                                            <p>{{fullamount|floatformat:1}}</p>
                                        </div>

                                        <div class="col-9"> <p> Total Discount </p> </div>
                                        <div class="col-3">-{{discountamt|floatformat:1}}</div>

                                        <div class="col-9"> <p> <b> Payable Amount </b> </p></div> 
                                        <div class="col-3">
                                            <b>{{totalamount|floatformat:1}}</b>
                                        </div> 
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    {% if wallet_status == None %}

                                    <form action="{% url 'UseWallet' %}" method="POST">
                                    <div class="col-lg-12 row"> 
                                            {% csrf_token %}
                                            <div class="col-9 mt-1">
                                               <p> <b>Wallet Balance</b> 
                                                (₹{{wallet.balance}}) </p>
                                            </div>
                                            <div class="col-3">

                                                <button type="submit" class="btn btn-sm btn-primary ">Use Wallet</button>
                                            </div>
                                         
                                        </div>
                                    </form>

                                    {% else %}
                                    <div class="col-12">
                                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                            <strong>Wallet Amount applied</strong> {{wallet_amount}}
                                            <a class="close" href="{% url 'remove_wallet' %}">
                                              <span aria-hidden="true">&times;</span>
                                            </a>
                                        </div>
                                    </div>
                                    
                                    
                                    {% endif %}
                                    
                                    <!-- Button trigger modal -->
                                    <div class="col 12 row">
                                        <div class="col-9"><p>Apply Coupon</p></div>
                                        <div class="col-3"><button style=" width: 18vh;" type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                                            data-target="#exampleModalCenter">
                                            All Coupons
                                        </button> </div>
                                        
                                    </div> 
                                    <div class="col-12">
                                        {% if usedcoupon != None %}
                                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                            <strong>Coupon Applied</strong> {{usedcoupon}}
                                            <a class="close" href="{% url 'remove_coupon' %}">
                                              <span aria-hidden="true">&times;</span>
                                            </a>
                                          </div>
                                          {% endif %}
                                    </div>                             
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Available Coupons</h5>
            <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="coupon-box">
                {% for i in coupon %}
                <form action="{% url 'apply_coupon' %}" method="POST">
                    {% csrf_token %}
                    <div class="radio-icon-div">
                        <div class="radio-icon">
                            <input type="radio" value="{{i.coupon_code}}"
                                name="code">
                            <label class="radio-style" for="radio"></label>
                        </div>
                        <div class="radio-label-text">
                            <div class="row flex-column">
                                <h3 class="custom-title">
                                    <span>{{i.coupon_code}}</span>
                                </h3>
                                <h5 class="custom-desc">
                                    <ul>
                                        <li class="coupon-description">{{i.discount}}% off
                                            on selected items</li>
                                        <li class="coupons-description">{{i.description}}</li>
                                    </ul>
                                </h5>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
                data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Apply Coupons</button>
        </div>
        </form>
    </div>
</div>
</div>




{% endblock %}