{% extends 'UserHome/base.html' %}
{% load static %}

{% block body %}
<style>
    .razorpay-payment-button{
    background: #d7d8d9;
    color: #fff;
    letter-spacing: 0.5px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 2px;
    padding: 10px 20px;
    width: 100%;
    border: 1px solid transparent;
    cursor: pointer;
    
    }
</style>
<!-- ========== PAGE TITLE ========== -->
<div class="page-title gradient-overlay op5" style="background: url(images/breadcrumb.jpg); background-repeat: no-repeat;
    background-size: cover;">
    <div class="container">
        <div class="inner">
            <br>
            <br>
            <br>
            <h1>SINGLE ROOM</h1>
            <div class="room-details-price">
                €89 / NIGHT
            </div>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="index.html">Rooms</a>
                </li>
                <li>Single Room</li>
            </ol>
        </div>
    </div>
</div>
<!-- ========== MAIN ========== -->
<main class="room">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-12">
                <!-- ROOM SLIDER -->

                <div class="sidebar">
                    <!-- WIDGET -->
                    <aside class="widget noborder">
                        <div class="vertical-booking-form">
                            <div id="booking-notification" class="notification"></div>
                            <h3 class="form-title">YOUR DETAILS</h3>
                            <div class="inner">
                                
                                    <!-- EMAIL -->
                                    <div class="form-group">
                                        <label for="">NAME</label>
                                        <input class="form-control" name="name" placeholder="Your Name"
                                            value="{{booking.user}}">
                                    </div>
                                    <!-- ROOM TYPE -->
                                    <div class="form-group">
                                        <label for="">EMAIL</label>
                                        <input class="form-control" name="email" placeholder="Your Email Address"
                                            value="{{booking.user.email}}">
                                    </div>
                                    <!-- DATE -->
                                    <div class="form-group">
                                        <label for="">PHONE</label>
                                        <input class="form-control" name="phone" placeholder="Your Phone No"
                                            value="{{booking.user.phone_number}}">
                                    </div>

                                    <!-- BOOKING BUTTON -->
                                    <!-- <button type="submit" class="btn btn-dark btn-fw mt20 mb20">PAY NOW</button> -->

                            </div>
                        </div>
                    </aside>

                </div>
                <div class="sidebar">
                    <!-- WIDGET -->
                    <aside class="widget noborder">
                        <div class="vertical-booking-form">
                            <div id="booking-notification" class="notification"></div>
                            <h3 class="form-title">CHOOSE PAYMENT</h3>
                            <div class="inner">

                                <!-- EMAIL -->
                                <a href="{% url 'paypal' %}" class="btn btn-gray btn-fw mt20 mb20">PAYPAL</a>
                                <!-- BOOKING BUTTON -->
                                <form class="text-center border border-light p-5" style="padding: 0px !important;" action="success" method="POST">
                                    {% csrf_token %}                           
                                    <!-- RAZORPAY INTEGRATION HERE -->
                                    <script src="https://checkout.razorpay.com/v1/checkout.js" data-key="rzp_test_4IGtVl9xeiuWPZ"
                                        data-amount="{{totalamount}}" data-currency="INR" data-order_id="{{payment.id}}" data-buttontext="Pay with Razorpay"
                                        data-name="Home to Home" data-description="Book your perfect room."
                                        data-image="https://example.com/your_logo.jpg" data-prefill.name="H2H" data-prefill.email="user@gmail.com"
                                        data-theme.color="#F37254">
                                    </script>
                                    <!-- <input type="submit" value="Pay with Razorpay" class="razorpay-payment-button"> -->
                                </form>

                                <a href="{% url 'paymentsuccess' %}" class="btn btn-gray btn-fw mt20 mb20">PAY AT HOTEL</a>
                                
                            </div>
                        </div>
                    </aside>

                </div>




                <!-- ROOM REVIEWS -->


            </div>
            <!-- SIDEBAR -->
            <div class="col-lg-5 col-12">

                <div class="sidebar">
                    <!-- WIDGET -->
                    <aside class="widget noborder">
                        <div class="vertical-booking-form">
                            <div id="booking-notification" class="notification"></div>
                            <h3 class="form-title">BOOK YOUR ROOM</h3>
                            <div class="inner">
                                <div class="col-lg-4">
                                    <figure class="gradient-overlay-hover link-icon">
                                        <a href="room.html"><img src="{{booking.hotel.img.url}}" class="img-fluid"
                                                alt="Image"></a>
                                    </figure>
                                </div>
                                <div>{{totalamount}}</div>                    
                            </div>
                        </div>
                    </aside>
                    <aside class="widget noborder">
                        <div class="vertical-booking-form">
                            <div id="booking-notification" class="notification"></div>
                            <div class="inner">
                                <div class="col-lg-12">
                                    <form action="{% url 'apply_coupon' %}" method="POST">
                                        {% csrf_token %}
                                        <label for="">ENTER COUPON</label>
                                        <input type="text" name="code" placeholder="Enter Your Coupon Code">
                                        <input type="submit" value="APPLY">
                                    </form>
                                    {% if messages %}
                                        <div class="text-center">
                                            <div class="col-12 mt-3">

                                                {% for message in messages %}
                                                {% if message.tags == 'error' %}
                                                <div class="alert alert-danger ">{{message}}</div>
                                                {% else%}
                                                <div class="alert alert-{{message.tags}}">{{message}}</div>
                                                {% endif %}
                                                {% endfor %}

                                            </div>
                                        </div>
                                    {% endif %}

                                    
                                </div>
                                                   
                            </div>
                        </div>
                    </aside>


                </div>
            </div>
        </div>
    </div>
</main>






{% endblock %}