{% extends 'UserHome/base.html' %}
{% load static %}

{% block body %}
<!-- ========== PAGE TITLE ========== -->
<div class="page-title gradient-overlay op5" style="background: url(images/breadcrumb.jpg); background-repeat: no-repeat;
    background-size: cover;">
    <div class="container">
        <div class="inner">
            <br>
            <br>
            <br>
            <h1>SINGLE ROOM</h1>
            <div class="room-details-price">
                €89 / NIGHT
            </div>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="index.html">Rooms</a>
                </li>
                <li>Single Room</li>
            </ol>
        </div>
    </div>
</div>
<!-- ========== MAIN ========== -->
<main class="room">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-12">
                <!-- ROOM SLIDER -->

                <div class="sidebar">
                    <!-- WIDGET -->
                    <aside class="widget noborder">
                        <div class="vertical-booking-form">
                            <div id="booking-notification" class="notification"></div>
                            <h3 class="form-title">YOUR DETAILS</h3>

                            <div class="inner">
                                <!-- EMAIL -->
                                <div id="drop-pw" class="form-group" style="text-align: end; ">
                                    <button type="button" class="btn tp-btn btn-secondary btn-sm" onclick="drop()"><i
                                            class="fa fa-fw" aria-hidden="true"
                                            title="Copy to use pencil"></i></button>
                                </div>
                                <div id="drop-otp" class="form-group" style="text-align: end; display: none;">
                                    <button type="button" class="btn tp-btn btn-secondary btn-sm " onclick="drop2()"><i
                                            class="fa fa-fw" aria-hidden="true"
                                            title="Copy to use pencil"></i></button>
                                </div>
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <div class="form-group" style="display: flex;">
                                        <label>Name :</label>
                                        <p>{{user.username}}</p>


                                    </div>
                                    <div id="name-drop" style="display: none ;" class="form-group">
                                        <input class="form-control" name="name" placeholder="Enter Your Username">
                                    </div>

                                    <!-- ROOM TYPE -->
                                    <div class="form-group" style="display: flex;">
                                        <label>Email :</label>
                                        <p>{{user.email}}</p>
                                    </div>
                                    <div id="email-drop" style="display: none ;" class="form-group">

                                        <input class="form-control" name="email" placeholder="Enter Your Email">
                                    </div>
                                    <!-- DATE -->
                                    <div class="form-group" style="display: flex;">
                                        <label>Phone Number :</label>
                                        <p>{{user.phone_number}}</p>
                                    </div>
                                    <div id="phone-drop" style="display: none ;" class="form-group">

                                        <input class="form-control" name="phone" placeholder="Enter Your Phone">
                                    </div>

                                    <!-- BOOKING BUTTON -->
                                    <button id="submit-drop" style="display: none ;" type="submit"
                                        class="btn btn-dark btn-fw mt20 mb20">Update</button>
                                </form>

                            </div>
                        </div>
                    </aside>

                </div>

                <!-- ROOM REVIEWS -->   
            </div>
            <!-- SIDEBAR -->
            <div class="col-lg-5 col-12">

                <div class="sidebar">
                    <!-- WIDGET -->
                    <aside class="widget noborder">
                        <div class="vertical-booking-form">
                            <div id="booking-notification" class="notification"></div>
                            <h3 class="form-title">My Wallet</h3>
                            <div class="inner">

                                <!-- EMAIL -->
                                <div class="form-group">
                                    <label for=""> Total Wallet Balance : {{wallet.balance}}</label>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#exampleModalLong">
                                        View all Transactions
                                    </button>
                                </div>
                                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                {% for i in walletdetail %}
                                                <div class="row">
                                                    <div class="col">{{i.decription_amount}}</div>
                                                    {% if i.status == True %}
                                                    <div class="col" style="color: rgb(11, 237, 11) ;">+ {{i.amount}}
                                                    </div>
                                                    {% elif i.status == False %}
                                                    <div class="col" style="color: red ;">- {{i.amount}}</div>
                                                    {% else %}
                                                    <div class="col">{{i.amount}}</div>
                                                    {% endif %}
                                                </div>
                                                {% endfor %}
                                                <br>
                                                <br>
                                                <div class="row">
                                                    <div class="col"> <b> Total Balance</b></div>
                                                    <div class="col"><b> {{wallet.balance}}</b></div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- ROOM TYPE -->


                                <!-- BOOKING BUTTON -->
                                <!-- <button type="submit" class="btn btn-dark btn-fw mt20 mb20">PAY NOW</button> -->

                            </div>
                        </div>
                    </aside>

                </div>
            </div>
        </div>
    </div>
</main>
<script>
    function drop() {
        document.getElementById('drop-otp').style = 'display: block !important'
        document.getElementById('name-drop').style = 'display: block'
        document.getElementById('email-drop').style = 'display: block'
        document.getElementById('phone-drop').style = 'display: block'
        document.getElementById('submit-drop').style = 'display: block'
        document.getElementById('drop-pw').style = 'display: none'
    }

    function drop2() {
        document.getElementById('drop-otp').style = 'display: none'
        document.getElementById('drop-pw').style = 'display: block'
        document.getElementById('name-drop').style = 'display: none'
        document.getElementById('email-drop').style = 'display: none'
        document.getElementById('phone-drop').style = 'display: none'
        document.getElementById('submit-drop').style = 'display: none'
    }


</script>

{% endblock %}