{% extends 'UserHome/base.html' %}
{% load static %}

{% block body %}
      <!-- ========== PAGE TITLE ========== -->
      <div class="page-title gradient-overlay op6" style="background: url(images/breadcrumb.jpg); background-repeat: no-repeat;
    background-size: cover;">
        <div class="container">
          <div class="inner">
            <br>
            <br>
            <br>
            <h1>Wishlist</h1>
            <ol class="breadcrumb">
              <li>
                <a href="{% url 'home' %}">Home</a>
              </li>
              <li>Wishlist</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- ========== MAIN ========== -->
      <main class="rooms-list-view">
        <div class="container">
          <!-- ITEM -->
          {% for i in list %}
          <div class="room-list-item">
            <div class="row">
              <div class="col-lg-4">
                <figure class="gradient-overlay-hover link-icon">
                  <a href="{% url 'roomdetails' i.id  %}"><img src="{{i.wished_room.img.url}}" class="img-fluid" alt="Image"></a>
                </figure>
              </div>
              <div class="col-lg-6">
                <div class="room-info">
                  <h3 class="room-title">
                    <a href="{% url 'roomdetails' i.id  %}">{{i.wished_room.name}}</a>
                  </h3>
                  <span class="room-rates">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <a href="room.html#room-reviews">5.00 Based on 3 Ratings</a>
                  </span>
                  <p>{{i.wished_room.Desc}}</p>
                  <div class="room-services">
                    <i class="fa fa-coffee" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Breakfast Included" data-original-title="Breakfast"></i>
                    <i class="fa fa-wifi" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Free WiFi" data-original-title="WiFi"></i>
                    <i class="fa fa-television" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Plasma TV with cable channels" data-original-title="TV"></i>
                    <span>Beds: 1 King</span>
                    <span>Max Guests: 2</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="room-price">
                  <span class="price">₹{{i.wished_room.price}}</span>
                  <a href="{% url 'roomdetails' i.id %}" class="btn btn-sm">BOOK NOW</a><br>
                  <a href="{% url 'delwishlist' i.id %}" class="btn btn-sm">REMOVE</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          <!-- ITEM -->
          
          <!-- PAGINATION -->
          <nav class="pagination">
            <ul>
              <li class="prev-pagination">
                <a href="#">
                  &nbsp;<i class="fa fa-angle-left"></i>
                  Previous &nbsp;</a>
              </li>
              <li class="active">
                <a href="#">1</a>
              </li>
              <li>
                <a href="#">2</a>
              </li>
              <li>
                <a href="#">3</a>
              </li>
              <li>...</li>
              <li>
                <a href="#">7</a>
              </li>
              <li>
                <a href="#">8</a>
              </li>
              <li>
                <a href="#">9</a>
              </li>
              <li class="next_pagination">
                <a href="#">
                  &nbsp; Next
                  <i class="fa fa-angle-right"></i>
                  &nbsp;
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </main>
      {% endblock %}