{% extends 'AdminPanel/base.html' %}
{% load static %}

<!--**********************************
        Main wrapper start
    ***********************************-->
<div id="main-wrapper">
	{% block body %}

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
				<div class="row page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active"><a href="javascript:void(0)">Components</a></li>
						<li class="breadcrumb-item"><a href="javascript:void(0)">Sweet Alert</a></li>
					</ol>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-xxl-4 col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Sweet Confirm Or Cancel</h4>
                                <div class="card-content">
                                    <div class="sweetalert mt-5">
                                        <button class="btn btn-warning btn sweet-success-cancel">Sweet Confirm Or
                                            Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /# card -->
                    </div>
                    
                    <!-- /# column -->
                    
                    <!-- /# column -->
                    <div class="col-xl-3 col-xxl-4 col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Sweet Confirm</h4>
                                <div class="card-content">
                                    <div class="sweetalert mt-5">
                                        <button class="btn btn-warning btn sweet-confirm">Sweet Confirm</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /# card -->
                    </div>
                    <!-- /# column -->
                    
                    <!-- /# column -->
                    
                    <!-- /# column -->
                    
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
    </div>
	{% endblock %}


<!--***